/* Posts Page CSS */
body{
    display: flex;
    flex-direction: column;
    background-color: #023535;
}

#username{
    font-family: "Kanit";
    /* font-size: 2rem; */
    color: #008F8C;
    text-shadow: 1px 1px #10e6e2;
}

.nav-link{
    color: rgb(195, 220, 244);
    font-family: "Kanit";
    font-size: 1.5rem;
    text-decoration: underline;
}

.nav-link:hover{
    color: silver;
}

#user-cont{
    overflow-x: hidden;
    background-color: rgb(195, 220, 244);
    border: 2px solid #10e6e2;
    border-radius: 20px;
    width: 60%;
    padding: 2rem;
    text-align: center;
}

#section-message{
    display: flex;
    flex-direction: row;
}

.btn-success{
    background-color: #0FC2C0;
    border:2px solid rgb(195, 220, 244);
    color: white;
    font-family: "Kanit";
}

.btn-success:hover{
    background-color: #023535;
    color:#0CABA8;
    border: 2px solid white;
}

#messagesOutput{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

#messageBox{
    margin: auto;
    padding-top: 2rem;
    border-right: 2px solid #10e6e2;
    border-left: 2px solid #10e6e2;
    width: 50%;
    background-color: #023535;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 900px;
}

#messageElement{
    background-color:#008F8C;
    color: rgb(195, 220, 244);
    padding: 2rem;
    border: 2px solid rgb(195, 220, 244);
}

#newPostForm{
    margin-left: 1rem;
    margin-top: 2rem;
}

header{
    background-color: #023535;
    border-bottom: 2px solid #10e6e2;
    z-index: 3rem; 
    /* position:fixed; */
    width: 100%;
   
}

h1{
    font-family: "Rowdies";
    /* display: flex;
    justify-content: center; */
    font-size: 2rem;
    text-shadow: 1px 1px #0CABA8;
    color: #10e6e2;
    margin-left: 1rem;
}